{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h1 class="sm:flex-auto text-base font-semibold leading-6 text-gray-900">{{ title }}</h1>
<div class="flex-auto">

    <div class="form">
      <form class="register-form" method="POST" action="">
        {% csrf_token %}
        <h3>{{form.username.label}}</h3>
        <p>{{form.username}}</p>
        <h3>{{form.password.label}}</h3>
        <p >{{form.password}}</p>
        <br/>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-6">Log In</button>
        </form>
        {{ form.errors }}
    </div>
  </div>
{% endblock %}
