{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form method="post" action="{% url 'get-data' %}">
  {% csrf_token %}
  <button type="submit">Run sync</button>
</form>
<section>
  <ul>
    <li><a href="{% url 'conference-list'%}">Conferences</a></li>
    <li><a href="{% url 'division-list'%}">Divisions</a></li>
    <li><a href="{% url 'season-list'%}">Seasons</a></li>
    <li><a href="{% url 'team-list'%}">Teams</a></li>
    <li><a href="{% url 'teamseason-list'%}">Team Seasons</a></li>
  </ul>
</section>
{% endblock %}
