<ul class="flex items-center justify-center">
  {% if request.user.is_authenticated %}
  {% for item in navigation_items %}
      <li class="mr-6">
        <a href="{{ item.uri_path }}" {% if request.path == item.uri_path %} class="active" {% else %} class="text-blue-500 hover:text-blue-800" {% endif %}>{{ item.title }}</a>
      </li>
    {% endfor %}
  {% else %}
  {% for item in unauthenticated_navigation_items %}
      <li class="mr-6">
        <a href="{{ item.uri_path }}" {% if request.path == item.uri_path %} class="active" {% else %} class="text-blue-500 hover:text-blue-800" {% endif %}>{{ item.title }}</a>
      </li>
    {% endfor %}
  {% endif %}

</ul>
