{% load static %}
<!DOCTYPE html>
{% load navigation_tags %}
{% navigation %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.tailwindcss.com"></script>
    <title>
      {% block title %}
      {{ title }}
      {% endblock title %}
    </title>
  </head>
  <body class="bg-gray-50">
    <div>
      {% if messages %}
        <div>
          {% for message in messages %}
            {% include "_messages.html" %}
          {% endfor %}
        </div>
      {% endif %}
      <main id="main" class="container mx-auto px-4">
        <p>We have {{ stupid }} posts!</p>
        {% block content %}
        {% endblock content %}
      </main>
      <footer>

      </footer>
    </div>
    <script src="https://unpkg.com/htmx.org@1.1.0"></script>
    <script nonce="{{ request.csp_nonce }}">
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>
    <script nonce="{{ request.csp_nonce }}">
      const burger = document.querySelector("#burger");
      const menu = document.querySelector("#menu");

      if (burger && menu) {
        burger.addEventListener('click', () => {
          const isHidden = menu.classList.toggle('hidden');
          burger.setAttribute('aria-expanded', String(!isHidden));
        });
      }
    </script>
  </body>
</html>
