{% load static %}
<!DOCTYPE html>
{% load navigation_tags %}
{% navigation %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <title>
      {% block title %}
      {{ title }}
      {% endblock title %}
    </title>
  </head>
  <body class="bg-gray-50">
    <div>
      {% if messages %}
        <div>
          {% for message in messages %}
            {% include "_messages.html" %}
          {% endfor %}
        </div>
      {% endif %}
      <main id="main" class="container mx-auto px-4">
        <p class="title m-6 text-gray-700">We have {{ stupid }} posts!</p>
        {% block content %}
        {% endblock content %}
        {% if user.is_authenticated %}
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-6" type="submit">Log Out</button>
          </form>
          {% endif %}
      </main>
      <footer>

      </footer>
    </div>
    <script src="https://unpkg.com/htmx.org@1.1.0"></script>
    <script nonce="{{ request.csp_nonce }}">
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>
  </body>
</html>
